.drop-area
        {
            border: dashed #ccc 3px;
            border-radius: 20px;
        }
.drop-area.highlight
        {
            border-color: #06ad9e;
        }
p
        {
            margin-top: 0;
        }
.my-form
        {
            margin-bottom: 10px;
        }
.button
        {
            display: inline-block;
            padding: 10px;
            background: #ccc;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
.button:hover
        {
            background: #ddd;
        }
#fileElem
        {
            display: none;
        }